extends layout

block content
  h1= title
  - let results=[{car_name:"BMW",car_rent:800000,car_size:100},{car_name:"KIA",car_rent:600000,car_size:100},{car_name:"",car_rent:500000,car_size:150}]
  div(class="container-fluid")
  div(class="row")
  each value,index in results
    div(class="col-sm-2" onclick=`buy(${index})`)  #{value.car_name} BMW, costs #{value.car_rent}, with seating #{value.car_size}
  script.
    function buy(index)
    {
      alert(`Your purchased Item ${index+1}`)
    }