extends layout

block content
  h1= title
  - let results=[{car_name:"BMW",car_color:red,car_size:100},{car_name:"KIA",car_color:bule,car_size:100},{car_name:"Honda",car_color:sliver,car_size:150}]
  div(class="container-fluid")
  div(class="row")
  each value,index in results
    div(class="col-sm-2" onclick=`buy(${index})`)  #{value.car_name} BMW, color #{value.car_color}, with seating #{value.car_size}
  script.
    function buy(index)
    {
      alert(`Your purchased Item ${index+1}`)
    }